*{
	font-family: 'Songti SC';
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin:0px;
	padding: 0px;
	color: black;
  }
  
  .container {
	  height: 10vh;
	  display: flex;
	}

	body {
		background-color: #fff;
		color: #000;
	}

	  h1{
		color: black;
		position: left;
		font-family :'Songti SC';
		font-size: 43pt; 
		margin-left:4.6%;
		margin-top: 25px;
		margin-bottom: 8px;
	  }

	  .header{
		  width:1280px;
		
		  background: white;
		
	  }

	.nav {
			display: flex;
			font-size: 15pt;
			margin-top: 3px;
			margin-bottom: 3px;
			padding-left: 2.5%;
		}
	

	  .nav > li{
		 margin-left: 25px;
		  margin-right: 65px;
	  }

	  .box1{
		background-color: black;
	  height: 0.1vh;
	  width: 100vw;
	  }

	  .box2{
		  background-color: gray;
		  height: 50vh;
		  width: 60%;
		  margin-left: 18px;
		  margin-right: 65px;
		  margin-top: 40px;
		  background-attachment: fixed;
	  }

	  .box4{
		background-color: black;
	  height: 0.1vh;
	  width: 100vw;
	  margin-top: 37.8vh;
	  margin-left:3px;
	  margin-right:3px;
	  background-attachment: fixed;
	  }


	  .boxarticle{
		background-color:white;
		height: 100vh;
		width: 100%;
	}

	.boxarticle2{
		background-color:white;
		height: 4vh;
		width: 100%;
	}

	.boxarticle3{
		border-top: 1px solid black;
		height: 0px;
		width: 90%;
		margin-left: 53px;
	}
	.boxarticle4{
		border-bottom: 1px solid black;
				height: 6.5vh;
				margin-top: 80px;
				width: 114%;
				
			}

	.title{
		color: black;
		margin-top: 20px;
		font-size: 28pt;
		margin-left: 52px;

	}

	.title2{
		color: black;
		margin-top: 8px;
		font-size: 16pt;
		margin-left: 72px;

	}


	.title3{
		color: black;
		margin-top: 8px;
		font-size: 16pt;
		margin-left: 62px;

	}

	.vl {
		border-left: 1px solid black;
		height: 329px;
		position: absolute;
		margin-left: 105px;
		margin-top: 264px;
		top: 0;

	  }
	
	.head{
		width:90%;
	   height:auto;
		background: white;
		display:flex;
		margin-top: 30px;
	   margin-left: 73px;
		margin-right: 5%;
	}


	  .line{
		height:1px;
		width: 100vw;
		background-color: black;
	}
	
	.content{
		color: black;
		margin-top: 5px;
		font-size: 14pt;
		margin-left: 58px;

	}

	.content2{
		color: black;
		margin-top: 60px;
		font-size: 19pt;
		margin-left: 53px;

	}